.temp-7fb-main-container {
  width: 670px;
  height: 550px;
  padding: 32px 8px 0;
  background-color: #212426;
  font-family: Roboto;
  }
  .temp-5fb-wrap-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .temp-5fb-wrap-heading {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .temp-5fb-heading {
    margin-right: 10px;
    font-size: 15px;
    line-height: 1.38;
    color: #fff;
  }
  .temp-5fb-Login {
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.38;
    color: #fff;
  }
  .temp-5fb-sub-heading {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.87;
    text-align: center;
    color: #fff;
  }
  .temp-7fb-offer-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
  }
  .wrap-recommended {
    max-width: 30%;
    margin: 0px 12px;
  }
  .temp-7fb-offers {
    padding-bottom: 26px;
    border-radius: 5px;
    border: solid 1px #707070;
    background-color: #000;
    border-radius: 5px;
    position: relative;
    box-sizing: content-box;
    &:focus {
      outline: solid 10px yellow !important;
    }
  }
  .temp-7fb-offer-header {
    background-color: #fff;
    padding: 16px 8px 8px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #0164b1;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .temp-7fb-arrow {
    display: flex;
    justify-content: center;
    margin-top: -5px;
  }
  .temp-7fb-Polygon {
    color: #fff;
    font-size: 16px;
  }
  .temp-7fb-wrap-body {
    padding: 0px 16px 16px;
  }
  .temp-7fb-amt {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #fff;
  }
  .temp-7fb-discounts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  .temp-7fb-off {
    margin: 0 9px 0 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: #e3e3e3;
  }
  .temp-7fb-price {
    margin: 0 0 0 9px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: #696868;
    text-decoration: line-through;
  }
  .temp-7fb-offer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
  }
  .temp-15a-wrap-off-text {
    display: flex;
    justify-content: center;
    padding: 0px 16px;
    align-items: baseline;
  }
  .mobile-coupon-text {
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.57;
    color: #6e6e6e;
    text-align: center;
    margin-right: 4px;
  }
  .mobile-click-here {
    color: #adadad;
  }
  .temp-7fb-bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .temp-2fb-btn-section-new {
    position: relative;
    width: 206px;
    padding: 10px;
    margin: 0 0 0px;
    border-radius: 6px;
    box-shadow: 1px 3px 12px 0 rgb(0 0 0 / 16%);
    background-color: #0164b1;
    text-align: center;
    box-sizing: content-box;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    width: 45%;
    margin: auto;
    margin-top: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  }
  .mobile-pay-with {
    width: 100%;
    height: 8px;
    font-size: 7px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px 24px;
  }
  .mobile-consCentLogo {
    width: 50px;
    height: 10px;
    margin-left: 4px;
  }